.section {
    color: #E4E3D3;
    font-size: 6em;
    text-align: center;
    background-color: #2F394D;
}

#fp-nav.left ul li a span {
    background: #E4E3D3;
}

.states {
  fill: #ccc;
  stroke: #fff;
  cursor: pointer;
}

.symbol {
  fill: steelblue;
  fill-opacity: .7;
  stroke: none;
}

.states:hover {
    fill: #E4E3D3;
}

.states.active {
    fill: orange;
}

.state-borders {
    fill: none;
    stroke: #2F394D;
    stroke-width: 0.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}

.us-outline {
    stroke: #E4E3D3;
    stroke-width: 1px;
    fill: none;
}

.background {
  fill: none;
  pointer-events: all;
}

div.tooltip {
  position: absolute;
  text-align: center;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
